/* _______________________ANIM/SCISSOR_______________________
@keyframes masuperanimation {
    0% {
        opacity:1;
        transform: translateX(-10%);
    }
    10% {
        opacity:1;
        transform: translateX(-10vmax);
    }
    20% {
        opacity:1;
        transform: translateX(-20vmax);
    }
    30% {
        opacity:1;
        transform: translateX(-30vmax);
    }
    40% {
        opacity:1;
        transform: translateX(-40vmax);
    }
    50% {
        opacity:1;
        transform: translateX(-50vmax);
    }
    60% {
        opacity:1;
        transform: translateX(-60vmax);
    }
    70% {
        opacity:1;
        transform: translateX(-70vmax);
    }
    80% {
        opacity:1;
        transform: translateX(-80vmax);
    }
    90% {
        opacity:1;
        transform: translateX(-90vmax);
    }
    100% {
        opacity:0;
        transform: translateX(-120vmax);
    }
}

/* div {opacity:0;animation: transition 1s ease-in-out 2s forwards;} */
/*iframe{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    float: right!important;
    position: absolute;
    bottom: 0px; right: 0px;
    animation: masuperanimation 10s ease-in-out 1s forwards; */
    /* top: -10px; right: 0px;
}
#animScissor{
    z-index: 5;
    padding: 0px!important;
    position: relative;
    animation: masuperanimation 10s ease-in-out 1s forwards;
} */

body {
    font-family: 'Dosis';
    font-size: 16px;
    line-height: 1.75;
}

/*___________________NAVBAR_____________________________*/

.navbar {
    padding: 5px;
}

.nav-link {
    display: block;
    padding: 0.4rem 1rem;
    color:#FA8072;
    font-size: 20px;
    font-family: "Dosis";
}

a:hover {
    color: #15063ffb;
}

/*___________________HEADER_____________________________*/

header {
    background: url('../assets/background.png') center center fixed;
    background-size: cover ;
}

#header_wrapper {
    height: 100vh;
    position: relative;
    top: 20vh;
}

#borderBlockInfo {
    padding:8px;
    height: 300px;
    align-items: center;
    font-family: "Dosis";
    background-color : hsla(0,0%,100%,0.6);
}

#catchphrase{
    padding-top: 10px;
    border-bottom: 1px solid black;
}

/*___________________ANIMATION TEXT_____________________________*/

#animText {
    border-right: 0.15em solid #FA8072;
    letter-spacing: 0.05em;
    color:#FA8072;
    font-family: "Dosis";
    text-align: start;
    align-items: flex-end;
    justify-content: end;
    margin: 0!important;
    opacity: 0.8;
    animation: blink 0.75s step-end infinite;
}

@keyframes blink {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}

/*________________________SECTION-INFO________________________*/
.row {
    margin-right: -15px!important;
    margin-left: -15px!important;
}

#section-info {
    z-index: 1;
    position: relative;
    background-color : rgb(3, 22, 37, 0.9);
    padding-bottom: 75px;
    padding-top: 75px;
}

.linkPink {
    color: rgb(250, 128, 114);
    font-size: 3.75em;
}

.linkPink:hover {
    color: rgb(255, 182, 0);
}

#inFo {
    color: white;
    border-bottom: 2px solid rgb(250, 128, 114);
}

#profilPhoto {
    background-color: rgb(0, 0, 0 , 0.4);
    padding: 15px;
}

#profil {
    width: 25%;
    margin: 15px;
    background-color: rgb(0, 0, 0 , 0.4);
}

.border-coord {
    background-color: rgb(0, 0, 0 , 0.4);
    text-decoration: none;
    color: white;
}

/*______________________SECTION-SKILLS______________________*/

#section-skills {
    background-color: rgb(255, 182, 0, 0.7);
    background-size: cover ;
    padding: 100px 0px 100px 0px;
}

.skills {
    margin: 0px 0px 35px 0px;
}

#mesComp {
    padding-bottom: 10px;
    border-bottom: 2.5px solid white;
}

#skillsRow {
    padding-top: 40px;
}

.comp {
    font-size: 50px;
    margin: 0 12px;
    display: contents;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    position: relative;
    top: calc(50% - 100px);
    left: 0;
    overflow: visible;
    text-align: center;
}

i.lang {
    font-size: 100px;
    margin: 0 12px;
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    border: 0;
    opacity: 0;
    animation: bounceIn 450ms linear forwards;
}

i.lang {animation-delay: 2s;}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3) translate3d(0,0,0);
    }
    50% {
        opacity: 0.9;
        transform: scale(1.1);
    }
    80% {
        opacity: 1;
        transform: scale(0.89);
    }
    100% {
        opacity: 1;
        transform: scale(1) translate3d(0,0,0);
    }
}

.comp:hover {
    font-size: 100px;
    margin: 0 12px;
    color: #fff;
    border-color: none;
}

/*______________________SECTION-PROJECTS______________________*/

#section-projets {
    background: url('../assets/background.png') center center fixed;
    background-size: cover ;
    padding: 100px 0px 100px 0px;
}

#proj {
    padding-bottom: 10px;
    border-bottom: 2.5px solid rgb(250, 128, 114);
}

.elem-30px {
    font-size: 30px;
}

.card {
    border-radius: 0rem!important;
}

.paint {
    height: 180px;
    border-bottom: 1px solid black;
}

.viewProject {
    margin: 0 35px;
    color: rgb(3, 22, 37, 0.9);
}

.viewProject:hover {
    color: rgb(255, 182, 0);
    border-color: none;
    text-decoration: none;
}

/*______________________SECTION-TIMELINE______________________*/

#timeline {
    display: flex;
}

#timeline:hover .tl-item {
    width: 23.3333%;
}

.tl-item {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 20%;
    height: 100vh;
    min-height: 600px;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;
}

.tl-item:before, .tl-item:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.tl-item:after {
    background: rgba(16, 25, 27, 0.2);
    opacity: 1;
    transition: opacity 0.5s ease;
}

.tl-item:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
    z-index: 1;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) translateY(50%);
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}

.tl-item:hover {
    width: 30% !important;
}

.tl-item:hover:after {
    opacity: 0;
}

.tl-item:hover:before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) translateY(0);
    transform: translate3d(0, 0, 0) translateY(0);
    transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
    transition: opacity 1s ease, transform 1s ease 0.25s;
    transition: opacity 1s ease, transform 1s ease 0.25s, -webkit-transform 1s ease 0.25s;
}

.tl-item:hover .tl-content {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all 0.75s ease 0.5s;
}

.tl-item:hover .tl-bg {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.tl-content {
    -webkit-transform: translate3d(0, 0, 0) translateY(25px);
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 20%;
    opacity: 0;
    font-family: "Dosis";
}

.tl-content h1 {
    text-transform: uppercase;
    color: #FA8072;
    font-family: "Dosis";
    font-size: 1.44rem;
}

.tl-year {
    font-family: "Dosis";
    padding-top: 15px;
    font-size: 30px;
    position: absolute;
    top: 15%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.tl-year p {
    font-family: "Dosis";
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(255, 182, 0, 0.7);
    line-height: 0;
}

.tl-bg {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: -webkit-filter 0.5s ease;
    transition: filter 0.5s ease;
    transition: filter 0.5s ease, -webkit-filter 0.5s ease;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/*_______________________SECTION-HOBBIES_______________________*/

#section-hobbies {
    color: white;
    background-color: rgb(3, 22, 37, 0.9);
    background-size: cover ;
    padding: 100px 0px 100px 0px;
    justify-content: space-around;
    height: 100vh;
}

i.logo {
    font-size: 55px;
    margin: 0 40px;
}

#hob {
    padding-bottom: 10px;
    border-bottom: 2.5px solid rgb(255, 182, 0, 0.7);
}
.row-hobbies {
    margin-top: 15px;
    margin-bottom: 35px;
}

.hobbies {
    border-color: none;
}

.hobbies:hover {
    color: rgb(255, 182, 0);
    border-color: none;
}

/*___________________SECTION-SOCIAL / FOOTER________________*/

footer {
    background-color: rgb(250, 128, 114);
    padding: 20px;
    height: 100vh;
}

#section-social {
    padding: 135px;
}

#contact {
    color: white;
    padding-bottom: 10px;
    border-bottom: 2.5px solid rgb(255, 182, 0, 0.7);
}

.link {
    color: black;
    font-size: 60px;
}

.link:hover {
    color: rgb(255, 182, 0);
    /* font-size: 60px; */
}

.socialLink {
    margin-top: 20px;
    justify-content: space-around;
}

#copyright {
    font-size: larger!important;
}