/*____________ANIM/SCISSORS_____________*/
@keyframes masuperanimation {
      0% {
        transform: translateX(-10%);
      }
      10% {
        transform: translateX(-10vmax);
      }
      20% {
        transform: translateX(-20vmax);
      }
      30% {
        transform: translateX(-30vmax);
      }
      40% {
        transform: translateX(-40vmax);
      }
      50% {
        transform: translateX(-50vmax);
      }
      60% {
        transform: translateX(-60vmax);
      }
      70% {
        transform: translateX(-70vmax);
      }
      80% {
        transform: translateX(-80vmax);
      }
      90% {
        transform: translateX(-90vmax);
      }
      100% {
        transform: translateX(-120vmax);
      }
    }
    iframe{
      float: right;
      animation: masuperanimation 10s;
    }
    #animScissor{
      padding: 0px!important;
    }
body{
    cursor: url("assets/encre.svg");
    cursor: url("assets.png") 4 12, auto;
}
/*___________________NAVBAR_____________________________*/
.navbar{
    padding: 5px;
}

.nav-link{
    font-style: none;
    text-decoration: none;
    display: block;
    padding: 0.4rem 1rem;
    color:#FA8072;
    font-size: 20px;
    font-family: "Dosis";
}
a:hover{
    color: #15063ffb;
}

ul {
    list-style: none;
}

/*___________________HEADER_____________________________*/
header {
    background: url('../assets/background.png') center center fixed;
    background-size:cover ;
}
/* img{
    vertical-align : middle;
} */

#header_wrapper {
    height: 100vh;
    position: relative;
    top: 35vh;
}
#borderBlockInfo{
    border-top: solid 1px #15063ffb;
    border-bottom: solid 1px #15063ffb;
    padding:8px;
    height: 300px;
    background-color :hsla(0,0%,100%,0.6);
    align-items: center;
    font-family: "Dosis";
}

#catchphrase{
    
}

#nowSituation{
    top: calc(45vh - 100px);
    align-items:flex-end;
    font-family: "Dosis";
    font-size: 37px;
    line-height: .9em;
}
/*________________________SECTION-INFO________________________*/
#section-info{
    position: relative;
    background: url('../assets/background.png') center center fixed;
    box-shadow:  0px 7px 7px -4px #DDD,
    0px 7px 7px -5px #DDD;
}

#filter-background {
    /* background-color: rgb(37, 54, 89, 0.7); */
}

#inFo{
    color:black;
    border-bottom: 2px solid rgb(250, 128, 114);
}

#profilPhoto{
    float: left;
}

#profil {
    width:15%;
    margin: 8px;
    box-shadow: 0.1rem 0.1rem rgba(0,0,0,.20);
}

.border-Info{
    border-top: solid 1px hsla(0,0%,100%,0.6);
    border-bottom: solid 1px white;
    color: white;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    font-family: "Dosis";
}

.p-2{
    font-size: 22px;
}

.coordonnées{
    font-family: "Dosis";
    color:black;
}

.border-coord{
    text-decoration: none;
    border-left: 1px solid #031625;
    border-bottom:1px solid #031625;
    color:white;
    background-color: rgb(0, 0, 0 , 0.4);
    box-shadow:  0.1rem 0.1rem rgba(0,0,0,.20);
}
/*______________________SECTION-TIMELINE______________________*/
#timeline {
    display: flex;
}

#timeline:hover .tl-item {
    width: 23.3333%;
}

.tl-item {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 100vh;
    min-height: 600px;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;
}

.tl-item:before, .tl-item:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.tl-item:after {
    background: rgba(16, 25, 27, 0.2);
    opacity: 1;
    transition: opacity 0.5s ease;
}

.tl-item:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
    z-index: 1;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) translateY(50%);
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}

.tl-item:hover {
    width: 30% !important;
}

.tl-item:hover:after {
    opacity: 0;
}

.tl-item:hover:before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) translateY(0);
    transform: translate3d(0, 0, 0) translateY(0);
    transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
    transition: opacity 1s ease, transform 1s ease 0.25s;
    transition: opacity 1s ease, transform 1s ease 0.25s, -webkit-transform 1s ease 0.25s;
}

.tl-item:hover .tl-content {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all 0.75s ease 0.5s;
}

.tl-item:hover .tl-bg {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.tl-content {
    -webkit-transform: translate3d(0, 0, 0) translateY(25px);
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 55%;
    opacity: 0;
    font-family: "Dosis";
}

.tl-content h1 {
    text-transform: uppercase;
    color:#FA8072;
    font-family: "Dosis";
    font-size: 1.44rem;
}

.tl-year {
    font-family: "Dosis";
    padding-top: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.tl-year p {
    font-family: "Dosis";
    font-size: 1.728rem;
    line-height: 0;
}

.tl-bg {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: -webkit-filter 0.5s ease;
    transition: filter 0.5s ease;
    transition: filter 0.5s ease, -webkit-filter 0.5s ease;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.content {
    text-align: center;
}
/* 
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
} */
/*______________________SECTION-SKILLS______________________*/
#section-skills{
    background-color: rgb(255, 182, 0, 0.7);
    background-size:cover ;
    box-shadow: 0px 7px 7px -4px #DDD, 0px 7px 7px -5px #DDD;
}

.skills{
    margin: 35px 0px 35px 0px;
}

#mesComp{
    padding-bottom: 10px;
    border-bottom: 2.5px solid white;
}
.comp{
    font-size: 50px;
    margin: 0 12px;
    display: contents;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    position: relative;
    top: calc(50% - 100px);
    left: 0;
    overflow: visible;
    text-align: center;
}
i.lang, .db{
    font-size: 100px;
    margin: 0 12px; 
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    border: 0;
}

i.lang, .db{
    opacity: 0;
    animation-name: bounceIn;
    animation-duration: 450ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
i.lang, .db{animation-delay: 2s;}

@keyframes bounceIn{
    0%{
        opacity: 0;
        transform: scale(0.3) translate3d(0,0,0);
    }
    50%{
        opacity: 0.9;
        transform: scale(1.1);
    }
    80%{
        opacity: 1;
        transform: scale(0.89);
    }
    100%{
        opacity: 1;
        transform: scale(1) translate3d(0,0,0);
    }
}

.comp:hover{
    font-size: 100px;
    margin: 0 12px;
    color: #fff;
    border-color:none;
}
/*______________________SECTION-PROJECTS______________________*/
#section-projets{
    background: url('../assets/background.png') center center fixed;
    background-size:cover ;
    padding: 100px 0px 100px 0px;
}

.proj{
    
}
#proj{
    
}

.shaDow{
    box-shadow: 0px 4px 4px 0px #DDD, 0px 4px 4px 0px #DDD;
}

.card-title {
    font-size: 40px;
} 
/*_______________________SECTION-HOBBIES_______________________*/
#section-hobbies{
    color: white;
    background-color:rgb(3, 22, 37, 0.9);
    background-size:cover ;
    padding: 100px 0px 100px 0px;
    justify-content: space-around;
    box-shadow: 0px 7px 7px -4px #DDD, 0px 7px 7px -5px #DDD;
    /* display: inline-block; */
}
i.logo {
    font-size: 75px;
    margin: 0 40px;
}
#hob{
    padding-bottom: 10px;
    border-bottom: 2.5px solid rgb(255, 182, 0, 0.7);
}
.hobbies:hover{
    color: rgb(255, 182, 0);
    border-color:none;
}

/*_______________________SECTION-CONTACT_______________________*/
#section-contact{
    background: url('../assets/background.png') center center fixed;
    background-size:cover ;
    padding: 100px 0px 100px 0px;
}

i.env {
    font-size: 30px;
    margin: 0 12px;
}

.form-control{
    border-radius: 0%;
    border: 2px solid rgb(255, 182, 0, 0.7);
    border-top: 0px;
    border-right: 0px;
}

button:not(:disabled), [type="button"]:not(:disabled) {
    cursor: url("assets/encre.svg"), pointer;
    outline: none;
}
/*___________________SECTION-SOCIAL / FOOTER________________*/

footer{
    background-color:rgb(250, 128, 114);
    padding: 20px;
}

#section-social {
    /*background-color:#031625;
    background-color :hsla(0,0%,100%,0.6); */
}

/*___________________BORDER // BTN________________*/


.btn-outline-primary:hover {
    color: #fff;
    border-color:none;
    background-color: #031625;
}

.btn {
    border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
    text-decoration: none;
    border-color: #031625;
    outline: none;
    background-color: transparent;
    padding: 0.375rem 0.75rem;
}
.btn-outline-primary {
    color: #031625;
    border-color: #031625;
    border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
    /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; */
}

.border{
    text-decoration: none;
    background-color: transparent;
    box-shadow: 0.2rem 0.2rem 0.1rem rgba(0,0,0,0.1)!important;
}

body {
    font-family: 'Dosis';
    font-size: 16px;
    line-height: 1.75;
}
/* .m-b-md {
    margin-bottom: 30px;
} */
